/* Overall styling */
html {
  font-family: "Julius Sans One", sans-serif;
}
* {
  margin: 0%;
  padding: 0%;
}
body {
  font-family: "Julius Sans One", sans-serif;
  background-color: #59c3c3;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
/*Added Date the header and given these styles*/

/* CSS for the header */
header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(./images/small-leaves-flowers-near-slices-fruits.jpg);
  background-position: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 150px;
}
/* Style for the logo */
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Style for the navigation links */
.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
}
.nav {
  background-color: #59c3c3;
}
.nav:hover {
  background-color: #f45b69;
}
.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: hwb(316 0% 94%);
  font-weight: bolder;
}
/*Media Query for header section*/
@media only screen and (max-width: 612px) {
  #header {
    flex-direction: column;
    height: 250px;
    align-items: center;
  }
  .logo {
    width: 50px;
    height: auto;
    background-image: none;
    color: #f45b69;
  }
  .nav-links {
    flex-direction: column;
    padding-left: 20px;
  }
  .nav {
    font-size: small;
    padding-top: 0px;
    padding-bottom: 0px;
    width: fit-content;
    height: fit-content;
  }
  #datetime{
    font-size: small;
    padding-top: 0px;
    padding-bottom: 0px;
    width: fit-content;
    height: fit-content;
  }
}
/* CSS for the header End */

/* Style for the footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 150px;
  background-image: url(./images/small-leaves-flowers-near-slices-fruits.jpg);
  background-size: cover;
  color: black;
  font-weight: bolder;
  text-align: center;
  padding: 20px;
}
#footer p {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Style for social media icons */
.social-icons {
  margin: 10px;
}
.social-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: width 50ms linear 50ms;
}
.social-img:hover {
  width: 50px;
  height: auto;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
}
.footer-1 {
  color: black;
  text-decoration: none;
}
a:hover {
  font-size: larger;
}

/*Media query sections for footer*/
@media only screen and (max-width: 520px) {
  #footer {
    flex-direction: column;
  }
  .footer-1 {
    font-size: x-small;
  }
}
/* Style for the footer End */

/* cart section css starts */
#cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}
.cart-item {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  max-width: auto;
  background-color: #ebebeb;
  transition: transform 0.2s;
}

.cart-heading {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  margin: 20px 0;
  color: black;
  background-color: #ebebeb;
  outline: 1px black solid;
  border-radius: 4px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.cart-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

.cart-item:hover {
  transform: scale(1.05);
}

.cart-item img {
  max-width: 100px;
  height: 100px;
  border-radius: 8px;
}

.cart-item h2 {
  font-size: 1.4rem;
  margin: 10px 0;
}

.cart-item p {
  font-size: 1.2rem;
}
/* styling for cart-total */
.cart-total {
  border-top: 1px solid #ebebeb;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px;
}

.cart-total p {
  font-size: 2rem;
  font-weight: bolder;
  color: black;
}

.cart-total button {
  padding: 12px 24px;
  background-color: #f45b69;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.2rem;
  margin: 10px 0;
}

.cart-total button:hover {
  background-color: #59c3c3 !important;
}

/* Styling for cart items buttons */
button {
  padding: 10px 20px;
  background-color: #59c3c3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.2rem;
  margin: 10px 0;
}

button:hover {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: inset 0px -80px 0px #f45b69;
  transform: translateY(-5px);
}

.clear-cart-btn {
  background-color: red !important;
}

.clear-cart-btn:hover {
  background-color: #f45b69 !important;
}

/* cart item QTY */
/* Styling for the quantity control buttons */
.quantity-control {
  display: flex;
  align-items: center;
}

.quantity {
  width: 30px;
  text-align: center;
}
.quantity-btn {
  background-color: #59c3c3;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.quantity-btn:hover {
  background-color: #f45b69;
}

/* Default styling for store items */
#store {
  width: auto;
  height: auto;
  display: flex;
  flex: wrap;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.store-items {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  width: auto;
  margin: 20px;
  margin-left: 20px;
  display: flex;
}

.store-items img {
  max-width: 250px;
  height: 250px;
  border-radius: 8px;
  border: 2px rgb(0, 0, 0) solid;
  margin: 20px;
}

.store-items p {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 1.25rem;
}

.product-name {
  display: inline;
  width: fit-content;
  background-color: white;
  outline: 1px black solid;
  border-radius: 4px;
}

.price {
  margin-left: 40%;
  margin-right: 40%;
  background-color: white;
  outline: 1px black solid;
  border-radius: 4px;
}
.price-extra {
  margin-left: 35%;
  margin-right: 32%;
  background-color: white;
  outline: 1px black solid;
  border-radius: 4px;
}

.product-quantity {
  width: 30px;
  text-align: center;
}

#store h2 {
  font-size: 4rem;
  font-weight: bolder;
  text-align: center;
  background-color: #ebebeb;
  outline: 3px black solid;
  width: fit-content;
  margin: 20px;
}

.store-items button {
  padding: 16px 32px;
  color: black;
  background-color: transparent;
  border: 1px solid black;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 32px;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px #59c3c3;
  transition: all 0.8s ease;

  &:hover {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: inset 0px -80px 0px #f45b69;
    transform: translateY(-5px);
  }
}

/* Styling cart section for smaller screens*/
@media only screen and (max-width: 768px) {
  #cart {
    padding: 10px;
  }

  .cart-item {
    flex-direction: column;
    text-align: center;
    max-width: 300px;
  }

  .cart-item img {
    max-width: 100%;
    height: 200px;
    border-radius: 8px;
  }

  .quantity-control {
    margin-top: 10px;
  }

  .cart-total {
    padding: 10px 0;
  }

  /* START of styling for store 768px */
  #store {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #store h2 {
    font-size: 3rem;
    letter-spacing: 2px;
  }
  /* END of styling for store 768px */
}
/* Styling for Mobile-L (425px) */
@media only screen and (max-width: 425px) {
  /* START of styling for store 425px */
  #store h2 {
    font-size: 2.5rem;
  }
  /* END of styling for store 425px */
}
/* Styling for Mobile-S (320px) */
@media only screen and (max-width: 320px) {
  /* START of styling for store 320px */
  #store h2 {
    font-size: 2rem;
  }
  /* END of styling for store 320px */
}

/* style for bigger screen */

@media only screen and (max-width: 1366px) {
  /* START of styling for store 1366px */
  #store {
    padding: 50px;
    height: auto;
    margin: auto;
    flex-direction: row;
  }
  /* END of styling for store 1366px */
}

/* cart section css ends here */
